<DOCTYPE html>

<html>
<head>
	<title>About</title>
	<link rel="icon" href='./img/notes-pic.png'>
	<link rel='stylesheet' href='./css/styles.css'>


</head>
<body>
	<div class="main-content">
		{{>header}}
		<p class="about-paragraph">This is the exercise web application for saving notes and getting the Weather</p>
	</div>
	<img class='note' src='./img/notes-pic.png'>
	{{>footer}}

</body>
</html>